<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>oraKWlum-frontend ::ReactJS + RefluxJS</title>
    <link rel="stylesheet" href="/static/react/css/app.css">
</head>
<body>
    <section id="user">
        {% block code %}{% endblock %}
    </section>

    <section id="orakwlumRuler">
    </section>

    <footer id="info">
        <p>oraKWlum 2016</p>
    </footer>

    <script src="/static/react/components/react/react-with-addons.js"></script>
    <script src="/static/react/components/react-router/dist/react-router.js"></script>
    <script src="/static/react/components/react/JSXTransformer.js"></script>
    <script src="/static/react/components/lodash/lodash.js"></script>
    <script src="/static/react/components/reflux/dist/reflux.js"></script>
    <script src="/static/react/js/actions.js"></script>
    <script src="/static/react/js/store.js"></script>
    <script type="text/jsx" src="/static/react/js/components.jsx.js"></script>
</body>
</html>
