{% extends "layout.html" %}
{% block body %}

  <div class="content-wrapper">
        <section class="content-header">
          <h1>
                Pàgina no trobada
                <small>404</small>
          </h1>

          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Error</a></li>
            <li><a href="#">Pàgina</a></li>
            <li class="active">No trobada</li>
          </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                                  <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">404</h3>
                                            <div class="box-tools">
                                            </div>


                                            <div class="text-center">
                                                <h2> PÀGINA NO TROBADA</h2>
                                                <p>La pàgina solicitada no està disponible</p>
                                            </div>

                                        </div>


                                        <div class="box-body table-responsive no-padding">
                                        </div>

                                  </div>

                </div>


            </div>
        </section>
  </div>


{% endblock %}
